@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.container {
    padding: 16px 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
    color: #6030B1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* Navigation Bar*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
    text-decoration: none;
}

.nav__link--anchor-primary {
    background-color: #6030B1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030B1;
    margin: 0 12px;
    font-weight: bold;
}

/* About Me */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
    text-decoration: none;
}

.about-me__image--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__image {
    width: 100%;
}

/* Tech Stack image*/

.language__image {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language__image:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__image--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
}